@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
    font-family: 'Manrope', Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    background-color: #673be6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    background: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: black;
}

input {
    width: 100%;
    max-width: 90%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    padding: 10px 15px;
    background: #673be6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Manrope', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

button:hover {
    background: #0056b3;
}

p {
    margin: 10px 0;
    font-weight: medium;
    color: black;
}

.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo-container img {
    max-width: 150px;
    height: auto;
}

#calendar-container {
    margin-top: 50px;
    width: 90%;
    max-width: 600px;
    align-self: center;
    border-radius: 20px;
    overflow: hidden;
}

.fc-toolbar.fc-header-toolbar {
    border-radius: 20px;
}

.fc-daygrid-day.fc-day-sun, .fc-daygrid-day.fc-day-sat {
    background-color: #000;
    color: white;
}

.fc .fc-toolbar-title {
    border-radius: 20px;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    input {
        max-width: 100%;
    }

    button {
        font-size: 1em;
    }

    .logo-container {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }

    #calendar-container {
        width: 100%;
        margin-top: 30px;
    }
}

